
<h1 style="margin-top: 2rem">
  Friends 
  <%= link_to "+", new_friend_path, class:"btn btn-secondary" %>
</h1>

<div id="friends" style="margin-bottom: 2rem">
<table class="table table-sm">
  <% @friends.each do |friend| %>
    <%= render friend %>
  <% end %>
</table>
</div>

<%= button_to  'Export data', export_friends_data_path, class:"btn btn-secondary" %>